
@using MVCSTOK.Models.Entity
@model List<kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoud.cshtml";
}

    <table class="table table-bordered "> 
      

        <tr>
            <th>KATEGORİ ID</th>
            <th>KATEGORİ ADI</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>


        </tr>
        <tbody>
            @foreach (var ktgr in Model)
           
            {
            <tr>
                <th>@ktgr.KATEGORİID</th>
                <td>@ktgr.KATEGORİAD</td>

                <td><a href="/KATEGORI/SİL/@ktgr.KATEGORİID" class = " btn btn-danger">SİL</a></td>
               
                <td><a href="/KATEGORI/KategoriGetir/@ktgr.KATEGORİID" class = " btn btn-success">GÜNCELLE</a></td>

            </tr>
            }
            </tbody>

    </table>
<a href="/KATEGORI/Yenikategori/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>
